/* ============================ */
/* Mobile responsive section */
/* ============================ */
@media screen and (max-width: 426px) {
    header nav {
        flex-direction: column;
        padding: 30px 0;
    }

    .align {
        justify-content: center;
    }

    .nav-2>ul {
        flex-direction: column;
        gap: 0;
    }

    .play {
        font-size: 2rem;
        text-align: center;
    }

    .banner,
    .online {
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 30px;
        gap: 0;
    }

    .container {
        padding: 30px;
    }

    .image {
        width: 100%;
    }

    .div-1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 0;
    }

    .banner {
        margin-bottom: 0;
    }

    .online>.img {
        width: 90%;
    }

    .cont {
        width: 100%;
    }

    .box {
        left: 80%;
    }

    footer {
        padding: 50px 30px;
    }

    .footer-menu>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 30px;
    }

    .img-box {
        padding: 0 30px;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: column;
    }

    .all-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .online {
        margin-bottom: 50px;
    }

    .onl,
    .funny {
        font-size: 2.25rem;
    }

    .cont {
        text-align: center;
        width: 100%;
    }

    .img-one {
        height: 89%;
    }

    .img-box>.active {
        border: 0;
    }

    .footer>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ============================ */
/* Tablet responsive section */
/* ============================ */
@media screen and (min-width: 426px) and (max-width: 768px) {
    header nav {
        flex-direction: column;
        padding: 40px 0;
    }

    .align {
        justify-content: center;
    }

    .nav-2>ul {
        margin-top: 30px;
    }

    .play {
        font-size: 2rem;
        text-align: center;
    }

    .banner,
    .online {
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 0 40px;
        gap: 0;
    }

    .container {
        padding: 40px;
    }

    .image {
        width: 100%;
    }

    .banner {
        margin-bottom: 0;
    }

    .online>.img {
        width: 90%;
    }

    .cont {
        width: 100%;
    }

    .box {
        left: 80%;
    }

    footer {
        padding: 50px 40px;
    }

    .footer-menu>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 40px;
    }

    .img-box {
        padding: 100px 40px 0px 40px;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: column;
    }

    .all-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .online {
        margin-bottom: 50px;
    }

    .onl,
    .funny {
        font-size: 2.25rem;
        width: 600px;
        margin: auto;
    }

    .cont {
        text-align: center;
        width: 100%;
    }

    .div-1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0;
    }
}